.single-message {
    border: 1px dotted gray;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.chatContainer {
    border: 1px solid turquoise;
    margin-top: 20px;
    margin-bottom: 20px; 
    padding: 5px;
}
/*.container {
.articleContainer{
    border: 2px solid blue;
    background-color: lightblue;
    padding:5%;

}
.container {
  border: 1px black solid;
}
.dashboard {
  display: flex;
  border: 2px blue dashed;
}
.contentContainerRight {
  display: flex;
  border: 1px purple dotted;
  flex-direction: column;
}
.contentContainerLeft {
  display: flex;
  border: 1px green dotted;
  flex-direction: column;
}
.contentContainerCenter {
  display: flex;
  border: 1px red dotted;
  flex-direction: column;
} */


